!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ viewport: 'viewport', content: 'width=device-width, initial-scale=1' }
    %title Accounting
    %link{ href: "#{url('/css/bootstrap.min.css')}", rel: 'stylesheet' }
  %body
    .container
      =yield
    %script{ src: "#{url('/js/jquery.min.js')}" }
    %script{ src: "#{url('/js/bootstrap.min.js')}" }
