= f.input date_input, as: :string,
                      label: false,
                      input_html: { class: 'form-control datepicker',
                        value: (f.object.try(date_input) ? l(f.object.try(date_input)) : '') }
