.page-header
  = link_to account_tag_path(@account, @tag), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    = t :'scaffold.show'
  %h1= t :'.title'

-# = high_chart("chart-#{@chart.object_id}", @chart)
